@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/YsabeauSC-VariableFont_wght.woff2') format('woff2'),
         url('../fonts/YsabeauSC-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/YsabeauSC-VariableFont_wght.woff2') format('woff2'),
         url('../fonts/YsabeauSC-VariableFont_wght.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Open Sans Italic';
    src: url('../fonts/OpenSans/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Bold Italic';
    src: url('../fonts/OpenSans/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: "Open Sans Regular";
}
